<!--1. CREATE A WEBSITE WITH A SUBMIT BUTTON-->
<h1>HP01 Homepage</h1>
<form action="/#">
    First name:<br><input type="text" name="firstname" value="Harry"><br>
    Last name:<br><input type="text" name="lastname" value="Potter"><br><br>
    <!-- LUMOS BUTTON IN SCRIPT.JS <input type="submit" value="Submit"> -->
  </form>
