<!-- CREATE A WEBSITE WITH A SUBMIT BUTTON-->
<h1>HP01 OTHER PAGE</h1>

<!-- INSERT-->
<h3>ADD STUDENTS HERE</h3>
<form id="hp01Form">  <!--action="/#" Don't need bc script.js will redirect the button-->
    First name:
      <br><input id="addFname"  type="text" name="firstname" value="Harry"><br>
    Last name:
      <br><input id="addLname" type="text" name="lastname" value="Potter"><br>
    <!--later, change this to house.name, and then sql will convert accordingly-->
    House id:
      <br><input id="addHouseID" type="number" name="houseid" value="1"><br><br>
    <!-- LUMOS BUTTON IN SCRIPT.JS <input type="submit" id="home01Submit" value="Submit"> -->
</form>


<!-- DISPLAY (automatically on load, via DOM in script.js)-->
<h3>CURRENT STUDENT DATA</h3>
<table id="home0table">
  <!-- script.js does DOM here-->
</table>
